/* For mobile phones: */
.logo{
  height:auto;
  width:30%;
}
.nav-normal{display:none;}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .nav-for-mobile{display:none;}
  .nav-show-mobile{display:none;}
}
