.nav {
	box-sizing: border-box;
	border:10px;
	width: 100%;
}

nav ul{
	margin: 0;
	padding: 0;
	overflow:auto;
}
nav ul .floatleftli{
	float: left;
}
nav ul li{
	list-style: none;
}

nav ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	padding: 15px 20px;
	letter-spacing
}
nav ul li .und::after{
	content: "";
	display: block;
	border-bottom: 2px solid #0af;
	transform: scaleX(0);
	transition: all .3s;
	margin-top: 15px;
}
nav ul li .und:hover::after{
	transform: scaleX(1);
}
.footer{
	overlow:auto;
	text-decoration: none;
	float:left;
	padding:10px;
	font-size:17px;
	background-color:white;
	color:black;
	width:1280px;
}
#login{
	float: right;
}
.navimg{
	height: 50%;
	width: 220px;
}